.footer__main {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;

  .footer__left {
    display: flex;

    h3 {
      font-weight: 300;
      font-size: 17px;
    }
    ul {
      display: flex;
      align-items: center;
      gap: 10px;
      list-style: none;
      li {
        a {
          font-weight: 100;
        }
      }
    }
  }
}